*{
 
    box-sizing: border-box;
}

body{
    background-color: #B7695C;
    width: 100%;
    font-family: Georgia, serif;
}

ul{
    list-style-type: none;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 1px ridge black;
    margin-left: 5%;
    margin-right: 5%;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

li img{
    width: 80%;
}

#grid-floats::after{
    clear: both;
    content: ' ';
    display: block;
}

#grid-floats{
    margin-bottom: 50px;
}

#grid-floats li{
    float: left;
    width: 22%;
    height: 570px;
    border: 3px ridge rgb(121, 114, 114);
    text-align: center;
    margin: 1%;
    margin-bottom: 30px;
    padding: 5px;
    background-color:#51A39D;
}

/* desktop */

@media (min-width:769px) {

    #grid-floats li:nth-child(1) {

        width:46%;
        background-color: #CDBB79;

    }

}

/* tablet */

@media (min-width: 481px) and (max-width: 768px) {
    #grid-floats{
        margin-right: 7%;
    }
    #grid-floats li {
        width:30.66666%;
        height: 600px;
    }

    #grid-floats li:nth-child(1) {
        width:47%;
        background-color: #CDBB79;
    }

    #grid-floats li:nth-child(2) {
        width: 47%;
        background-color: #CDBB79;
    }

}

/* mobile */

@media (max-width: 480px) {
    #grid-floats{
        margin-right: 9%;
    }
    #grid-floats li {
        width:46%;
        height: 700px;
    }
    #grid-floats li:nth-child(1) {width: 94%;
    background-color: #CDBB79;
    }
}
    #grid-floats li:hover{
    font-size: 1.05em;
    background-color: rgb(158, 158, 158);
}





#grid-flex {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

#grid-flex li{
    width: 22%;
    height: 570px;
    border: 3px ridge rgb(121, 114, 114);
    text-align: center;
    margin: 1%;
    margin-bottom: 30px;
    background-color:#51A39D;
    padding: 5px;
}

/* desktop */

@media (min-width:769px) {
    #grid-flex li:nth-child(1) {
        width:46%;
        background-color: #CDBB79;
    }
    
}

/* tablet */

@media (min-width: 481px) and (max-width: 768px) {
    #grid-flex{
        margin-right: 7%;
    }
    #grid-flex li {
        width: 30.66666%;
        height: 600px;
    }
    #grid-flex li:nth-child(1) {
        width: 47%;
        background-color: #CDBB79;
    }

    #grid-flex li:nth-child(2) {
        width: 47%;
        background-color: #CDBB79;
    }
}

/* mobile */

@media (max-width: 480px) {
    #grid-flex{
        margin-right: 9%;
    }
    #grid-flex li {
        width: 46%;
        height: 700px ;
        }
    #grid-flex li:nth-child(1) {
        width: 94%;
        background-color: #CDBB79;
    }
}

#grid-flex li:hover{
    font-size: 1.05em;
    background-color: rgb(158, 158, 158);
}
